<link rel="stylesheet" href="style/bottomBarFrame.css">

<section class="downBar">
    <section class="barButtonsArea">
        <button class="barButtons">직원호출</button>
        <button class="barButtons"><i class="fa-solid fa-house"></i></button>
        <button class="barButtons"><i class="fa-solid fa-backward"></i></button>
    </section>
    <img class="logoImg"
        src="https://media.discordapp.net/attachments/1281201387681611874/1282596854453895168/KakaoTalk_20240909_160013502.png?ex=66e097a7&is=66df4627&hm=9345dc8f5ce1e64f459f8eaea53250145d9baacec23a568d130f5b71180c6a8d&=&format=webp&quality=lossless"
        alt="logo">
    <span class="timeArea"><i class="fa-regular fa-clock"></i>시간부분</span>

    <script>
        const timeArea = document.getElementById("timeArea");
    </script>
</section>