<link rel="stylesheet" href="style/main.css">
<div id="buyTicketArea" class="mainWrapper">
    <button id="buyTicketBtn">티켓 구매</button>
</div>
<div id="printResevedTicketArea" class="mainWrapper">
    <input class="displayKeypad" readonly>
    <%- include("keypadFrame") %>
</div>